{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>The Brogrammers</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="#">
    </head>
    <style type="text/css">
    	.container{
    		 margin-right: auto;
   			 margin-left: auto;
   			 width: 320px;
   			 margin-top: 10%;
   
    	}
    </style>
    <body>
    	<h1 style="text-align: center;margin-top: 5%">The Brogrammers Calculator</h1>
    	<div class="container">
    		<form action="" method="post" style="text-align: center;">
    			{% csrf_token %}
    			<label style="font-size: 30px">Inverse Calculator</label><br><br>
    			<label>It will calculate the inverse of a modulo b</label><br><br>
    			<input type="number"  name="a" min="1" max="100000" required="" placeholder="Type a"><br><br>
    			<input type="number"  name="mod" min="1" max="10000" required="" placeholder="Type b"><br><br>
    			{% for message in messages %}
    			{{message}}
    			{% endfor %}
    			<br><br>
    			<input type="submit" name="submit" value="Submit">

    		</form>
    	</div>
    </body>